[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".local/fonts/powerline"]
	path = .local/fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "homedir/.vim/bundle/Vundle.vim"]
	path = homedir/.vim/bundle/Vundle.vim
	url = git://github.com/VundleVim/Vundle.vim.git
[submodule "homedir/.vim/pack/airblade/start"]
	path = homedir/.vim/pack/airblade/start
	url = https://github.com/airblade/vim-gitgutter.git
